In [1]:
import wlogs as wl

In [2]:
guild = wl.GUILD_ID

In [3]:
latest_reports = wl.load_latest_reports()

In [4]:
latest_reports

,code,title,startTime,endTime,segments
0,L1hbC8dX2c7wDKx6,23.02.2023 - Ulduar 10 - G1,1677182861220,1677191519640,13
1,H3wmRpxNq8972bdv,23.02.23 - Ulduar 10 - G2,1677181287072,1677191539523,22
2,zCx6jVvTYhBDqpA3,Uldu 25 22/02,1677095296459,1677105075365,53
3,njQbaf2GAqMPLdXt,Ulduar 10 NM+HM,1676928626824,1676932219214,4
4,WLdAV7fm2yk8YGwn,G1 - Try Mimiron HM - 20.02.23,1676924469184,1676932394940,3
...,...,...,...,...,...
702,nWck9wthKfaHdQM7,Ragnaros 13-01,1578947654713,1578951542968,25
703,p2Cyjfcg341zYJhX,MC - 08/01/2020,1578512452909,1578523270078,11
704,AYmdZQqyB42awJRg,MC - 08/01/2020,1578513703800,1578523268066,11
705,2c13WPMbwyxJdYqF,MC - 02/01/2020,1577994100763,1578004690341,10
706,RprPXtVkzqFMZNQc,ONYXIA - 06/01/2020,1578341293004,1578342026483,1